@use "../../styles" as *;

.section--present {
	padding: ($gap * 5) ($gap) ($gap * 12) ($gap);
	position: relative;

	@media (min-width: $bp-lg) {
		padding-top: ($gap);
	}

	&:before {
		display: none;
	}
}
