@use "../../styles" as *;

.section--history {
	padding: ($gap) ($gap) ($gap * 8) ($gap);
	position: relative;
	box-shadow: inset 0 0 300px #2a2008;
}

.object__rails {
	position: absolute;
	left: ($gap);
	top: 0;
	bottom: 0;
	width: 100px;
	background: transparent url("./images/object--rails.png") repeat-y 0 0;
	background-size: 100px 100px;

	@media (min-width: $bp-md) {
		left: ($gap * 2.35);
	}
}

// -- sprite objects
.object__sprite--history {
	background: transparent url("./images/objects-sprite--history.png") no-repeat 0 0;
	width: 200px;
	height: 200px;
	position: absolute;
	background-size: (1200px * .5) (800px * .5);
	display: none;
}

.object__campfire {
	background-position: 0 0;
	left: 21%;
	bottom: 10%;

	@media (min-width: $bp-sm) {
		display: block;
	}
}

.object__endoftrack {
	display: block;
	background-position: -200px 0;
	left: 50%;
	bottom: 0;
	z-index: 3;
	translate: -50% 60%;
	pointer-events: none;
}

.object__stones {
	@media (min-width: $bp-sm) {
		display: block;
		background-position: -200px -200px;
		left: 43%;
		bottom: 50%;
	}
}

.object__plants {
	@media (min-width: $bp-md) {
		display: block;
		background-position: -400px 0;
		right: 0;
		top: 2%;
	}
	@media (min-width: $bp-xxl) {
		right: 7%;
		top: 5%;
	}
}

.object__grass {
	&1,
	&2,
	&3,
	&4 {
		background-position: 0 -200px;
		display: none;

		@media (min-width: $bp-lg) {
			display: block;
		}
	}

	&1 {
		display: block;
		left: 10%;
		top: 2%;

		@media (min-width: $bp-lg) {
			left: auto;
			right: 25%;
			top: 10%;
		}
	}

	&2 {
		@media (min-width: $bp-lg) {
			left: 22%;
			top: 36%;
		}
	}

	&3 {
		@media (min-width: $bp-lg) {
			right: 31%;
			bottom: 22%;
		}
	}

	&4 {
		@media (min-width: $bp-lg) {
			right: 41%;
			bottom: 12%;
		}
	}
}

.object__cave {
	@media (min-width: $bp-md) {
		background: transparent url("./images/object--cave.png") no-repeat 0 0;
		width: 610px;
		height: 350px;
		position: absolute;
		left: 0;
		bottom: -($gap * 1.5);
		background-size: contain;
		z-index: 2;
	}
}

.object__cliff {
	background: transparent url("./images/object--cliff.png") repeat-x 0 0;
	width: 100%;
	height: 100px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -($gap * 2);
	background-size: contain;
	z-index: 2;

	@media (min-width: $bp-lg) {
		z-index: 0;
	}
}
