@use "sass:map";

// Colors
// -- global
$color-black: #000000;
$color-white: #ffffff;

// -- intro
$intro-text-color: #FFCE4F;
$intro-text-shadow: rgba($color-black, 80%);

// -- present
$color-present-text-primary: #7e1d1d;
$color-present-text-secondary: #262626;

$color-present-ui-primary: #acbfcf;

// -- past

// -- history
$color-history-primary: #b1a077;

// -- modal
$color-modal-text: darken($color-white, 20%);
$color-modal-text-darken: darken($color-white, 40%);
$color-modal-error: $color-present-text-primary;
$color-modal-ui-bg: darken($color-white, 90%);
$color-modal-ui-highlight: darken($color-white, 80%);

$gap: 1rem;

// Breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1440px;
$bp-xxxl: 1800px;

$bp-sm-max: $bp-sm - 1;
$bp-md-max: $bp-md - 1;
$bp-lg-max: $bp-lg - 1;
$bp-xl-max: $bp-xl - 1;
$bp-xxl-max: $bp-xxl - 1;

// Typography
$font-family-default: "Lexend", sans-serif;
$font-family-time-circuits: 'Digital-7 Mono', "Courier New", monospace;
//$font-family-present-heading: "Senilita", "Impact", sans-serif;
$font-family-present-heading: "TeXGyreAdventor", "Verdana", sans-serif;
$font-family-present-text: $font-family-default;
$font-family-past-heading: "Georgia", "Times New Roman", serif;
$font-family-past-text: "Times New Roman", serif;
$font-family-history-heading: "Faroest", "Courier New", monospace;
$font-family-history-text: "Courier New", monospace;

// -- scale 1.333 - perfect fourth
$font-size: (
		xs: 0.69rem,
		sm: 0.83rem,
		md: 1rem,
		lg: 1.2rem,
		xl: 1.44rem,
		xl2: 1.73rem,
		xl3: 2.07rem,
		xl4: 2.49rem,
		xl5: 2.99rem
);

// -- thanks https://www.fluid-type-scale.com/calculate?minFontSize=18&minWidth=320&minRatio=1.25&maxFontSize=22&maxWidth=1280&maxRatio=1.333&steps=xxs%2Cxs%2C+sm%2Cdefault%2Cmd%2Clg%2Cxl%2Cxl2%2Cxl3%2Cxl4%2Cxl5%2Cxl6&baseStep=sm&prefix=font-size&decimals=2&useRems=on&remValue=16&previewFont=Inter
$font-fluid: (
		xxs: clamp(1.13rem, 0.42vw + 1.04rem, 1.38rem),
		xs: clamp(1.41rem, 0.71vw + 1.26rem, 1.83rem),
		sm: clamp(1.76rem, 1.14vw + 1.53rem, 2.44rem),
		default: clamp(2.2rem, 1.77vw + 1.84rem, 3.26rem),
		md: clamp(2.75rem, 2.66vw + 2.21rem, 4.34rem),
		lg: clamp(3.43rem, 3.92vw + 2.65rem, 5.79rem),
		xl: clamp(4.29rem, 5.7vw + 3.15rem, 7.71rem),
		xl2: clamp(5.36rem, 8.2vw + 3.72rem, 10.28rem),
		xl3: clamp(6.71rem, 11.67vw + 4.37rem, 13.71rem),
		xl4: clamp(8.38rem, 16.48vw + 5.09rem, 18.27rem),
		xl5: clamp(10.48rem, 23.13vw + 5.85rem, 24.36rem),
		xl6: clamp(13.1rem, 32.28vw + 6.64rem, 32.47rem)
);

// Animations
// -- thanks https://easings.net
$easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
$easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
$easeInBack: cubic-bezier(0.36, 0, 0.66, -0.56);
$easeOutQuart: cubic-bezier(0.25, 1, 0.5, 1);

// Functions
@function font-size($size) {
	@return map-get($font-size, $size);
}

@function font-fluid($size) {
	@return map-get($font-fluid, $size);
}

