@use "../../styles" as *;

.modal {
	position: fixed;
	left: 2rem;
	top: 2rem;
	right: 2rem;
	text-align: center;
	padding: 2rem;
	background-color: #fb1;
	box-shadow: 0 3px 2.2px rgba(0, 0, 0, 0.02),
	0 7.3px 5.3px rgba(0, 0, 0, 0.028),
	0 13.8px 10px rgba(0, 0, 0, 0.035),
	0 24.6px 17.9px rgba(0, 0, 0, 0.042),
	0 46px 33.4px rgba(0, 0, 0, 0.05),
	0 110px 80px rgba(0, 0, 0, 0.07);
	z-index: 5;
	display: none;

	&.modal-is-open {
		display: block;
	}
}

#modal__url {
	&:empty {
		display: none;
	}
}

// TODO: Later - animation
.modal-is-open {
	& + .modal-overlay {
		position: fixed;
		inset: 0;
		background-color: rgba($color-black, 85%);
		z-index: 1;
	}
}

.modal__close {
	position: absolute;
	right: 1rem;
	top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	background-color: tomato;
	color: whitesmoke;
	text-decoration: none;

	&:hover {
		background-color: firebrick;
	}
}
