@use "../../styles" as *;

.time {
	&--present {
		//
	}

	&--past {
		//background-color: #1C1C1C;
		background: #1C1C1C url("../../../static/time/time--past-bg.jpg") repeat 0 0;
		background-size: 200px 200px;
		font-family: $font-family-past-text;
		color: white;

		// -- time void (divider)
		&:before,
		&:after {
			content: '';
			width: 100%;
			position: absolute;
			left: 0;
			right: 0;
			height: ($gap * 3);
			background: transparent url("./images/time-divider.png") repeat-x 0 0;
			background-size: cover;
			z-index: 2;
			translate: 0 -55%;

			@media (min-width: $bp-md) {
				background-size: contain;
			}
		}
	}

	&--history {
		//
	}
}

.has-event-horizon-on-top,
.has-event-horizon-on-bottom {
	&:before,
	&:after {
		height: auto;
		width: 100%;
		background: transparent url("../../../static/test-lightning.png") no-repeat center center;
		aspect-ratio: 2560/163;
		background-size: cover;
		translate: 0 -60%;
		z-index: 5;
	}
}

