@use "../../styles" as *;

.time--history {
	font-family: $font-family-history-text;

	&.load-me {
		background: #685438 url("./images/time--history-bg.jpg") repeat 0 0;
		background-size: 300px 300px;
	}
}
