@use "../../styles" as *;

.time {
	padding: ($gap) ($gap) ($gap) 250px;

	&--present {
		background-color: #526480;
		font-family: $font-family-present-text;
	}

	&--past {
		background-color: #1C1C1C;
		font-family: $font-family-past-text;
		color: white
	}

	&--history {
		background-color: #cdb557;
		font-family: $font-family-history-text;
	}
}


.has-event-horizon-on-top,
.has-event-horizon-on-bottom {
	&:before,
	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: ($gap * 2);
		opacity: 0;
		width: 100%;
		background-color: rgb(30 30 255 / 30%);
	}
}

.has-event-horizon-on-top {
	&:before {
		opacity: 1;
	}
}

.has-event-horizon-on-bottom {
	&:after {
		opacity: 1;
	}
}
