@use "../../styles" as *;

footer {
	width: 100%;
	overflow: hidden;
	background-color: $color-black;
	z-index: -1;
	min-height: ($gap * 13);
	color: darken($color-white, 65%);
	padding: ($gap * 4) ($gap);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: font-size(xs);

	@media (min-width: $bp-md) {
		min-height: ($gap * 11);
	}

	a {
		color: darken($color-white, 65%);
		text-decoration: underline;
		transition: color 350ms ease-in-out;

		&:hover {
			color: darken($color-white, 25%);
		}
	}
}

.footer__flux {
	display: inline-block;
	width: ($gap);
	height: ($gap);
	background: darken($color-white, 65%) url("../../images/flux-capacitor.svg") no-repeat center center;
	background-size: contain;
	vertical-align: middle;
	border: 2px solid darken($color-white, 65%);
	border-radius: 3px;
	transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out, box-shadow 750ms ease-in-out;

	&:hover {
		background-color: $color-white;
		border-color: $color-white;
		box-shadow: 0 0 20px 5px $color-white;
	}
}

.footer__sw {
	text-transform: none;
}

.footer__sw-list {
	margin-top: ($gap * .3);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: $gap;
}

.footer__sw-link {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;

	@media (any-hover: none) {
		border: 1px dashed $color-modal-ui-bg;
		padding: ($gap * .5) ($gap);
		text-decoration: none;
	}

	&:hover {
		.footer__icon {
			opacity: 1;
		}
	}
}

.footer__icon {
	width: ($gap * 1);
	height: ($gap * 1);
	opacity: .3;
	margin-right: ($gap * .3);
	transition: opacity 350ms ease-in-out;
}