@use "../../../styles" as *;
@use "sass:color";

.project-item--present {
	background-color: transparent;
	color: $color-present-text-secondary;
	font-family: $font-family-present-heading;
	font-style: normal;
	border: ($gap * 1.5) solid transparent;
	border-image-slice: 27;
	border-image-repeat: repeat repeat;
	border-image-source: url("./images/item-present--border.png");
	padding: 0;
	position: relative;
	animation: signHovering 7500ms ease-in-out infinite;
	transition: scale 1500ms $easeOutExpo;
	will-change: scale;

	@media (min-width: $bp-md) {
		scale: .9;
	}

	&:hover {
		@media (min-width: $bp-md) {
			scale: 1;
		}

		.project-item__image {
			&:before {
				@media (min-width: $bp-md) {
					opacity: 0;
				}
			}
		}
	}

	&:before,
	&:after {
		content: '';
		position: absolute;
		inset: 0;
		z-index: 1;
		pointer-events: none;
	}

	// -- inner shadow
	&:after {
		box-shadow: inset 0 0 55px 10px darken($color-present-ui-primary, 30%);
	}

	// -- display raster effect
	//&:before {
	//	background-image: radial-gradient($color-black 1px, rgba($color-black, 0%) 1px);
	//	background-size: 4px 4px;
	//	opacity: .1;
	//}

	& + & {
		margin-top: ($gap * 18);

		@media (min-width: $bp-xxl) {
			margin-top: ($gap * 2);
		}
	}

	& > * {
		margin-top: 0;
	}

	// -- animation delay maker
	@for $i from 1 through 6 {
		&:nth-child(#{$i + 1}) {
			animation-delay: #{$i * 4}00ms;
		}
	}

	.project-item__title {
		text-transform: uppercase;
		color: $color-present-text-primary;
		background-color: $color-present-ui-primary;
		padding: ($gap) ($gap);
	}

	.project-item__image {
		position: relative;

		// -- stripes on display
		&:before {
			@media (min-width: $bp-md) {
				content: '';
				//background: linear-gradient(to bottom, $color-present-ui-primary 0%, $color-present-ui-primary 50%, $color-present-ui-primary 50%, rgba($color-white, 0%) 50%, rgba($color-white, 0%) 100%) repeat 0 0;
				//background-size: 4px 4px;
				position: absolute;
				inset: 0;
				z-index: 1;
				opacity: .3;
				transition: opacity 550ms $easeOutExpo;
			}
		}
	}

	.project-item__perex {
		background-color: $color-present-ui-primary;
		text-transform: uppercase;
		letter-spacing: .05rem;
		padding: ($gap) ($gap);
		max-width: none;
		position: relative;
		z-index: 1; // to cover "cables" from bazmek
	}

	.project-item__year {
		display: none;
	}

	.project-item__tags {
		background-color: $color-present-ui-primary;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: ($gap * .5);
		text-transform: uppercase;
		font-size: font-size(xs);
		position: relative;
		z-index: 1;
		padding-top: ($gap);
		padding-bottom: ($gap);

		@media (min-width: $bp-md) {
			background-color: transparent;
			flex-wrap: nowrap;
			flex-direction: column;
			gap: ($gap * .1);
			position: absolute;
			right: -($gap * 6);
			top: 0;
			z-index: 2;
		}

		&:after {
			@media (min-width: $bp-md) {
				content: '';
				position: absolute;
				right: 35px;
				bottom: -52px;
				background: transparent url("./images/item-present--tags.png") no-repeat 0 0;
				background-size: contain;
				width: 70px;
				height: 70px;
			}

		}
	}

	.project-item__tag {
		background: rgb(255 224 155);
		background: radial-gradient(circle, rgba(255,254,253,1) 0%, rgba(255,224,155,1) 56%, rgba(253,238,132,1) 75%, rgba(253,238,132,1) 87%, rgba(117,109,51,1) 100%);
		padding: ($gap * .25) ($gap * .5);
		border: ($gap * .5) solid $color-black;
		border-radius: ($gap * .1);
		color: $color-present-text-primary;

		@media (min-width: $bp-md) {
			text-align: center;
			width: ($gap * 7);
		}
	}
}

.object-item__lamp {
	@media (min-width: $bp-md) {
		width: 159px;
		height: 115px;
		background: transparent url("./images/item-present--lamp.png") no-repeat 0 0;
		background-size: contain;
		position: absolute;
		top: -115px;
		left: 20px;
	}
}

.object-item__year {
	width: 159px;
	height: 116px;
	background: transparent url("./images/item-present--year.png") no-repeat 0 0;
	background-size: contain;
	position: absolute;
	top: -116px;
	left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: ($gap * 2.75);
	perspective: 100px;
	translate: -50% 0;

	@media (min-width: $bp-md) {
		padding-bottom: ($gap * 2.5);
		left: auto;
		right: 230px;
		translate: 0;
	}

	span {
		transform: rotateX(40deg);
		font-family: $font-family-time-circuits;
		font-size: font-size(xl);
		color: $color-present-text-primary;
	}
}

.object-item__hover {
	position: absolute;
	left: 50%;
	width: 226px;
	height: 198px;
	bottom: -198px;
	background: transparent url("./images/item-present--biglamp.png") no-repeat 0 0;
	background-size: contain;
	z-index: 0;
	translate: -50% 0;

	@media (min-width: $bp-md) {
		left: 0;
		translate: 0;
	}

	// -- blooming light
	&:after {
		@media (min-width: $bp-md) {
			content: '';
			position: absolute;
			width: 150px;
			height: 150px;
			background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,203,69,1) 21%, rgba(236,170,0,0) 65%);
			opacity: .2;
			left: 50%;
			translate: -50% 40%;
			animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
		}
	}

	& + & {
		left: auto;
		right: 0;
		display: none;

		@media (min-width: $bp-md) {
			display: block;
		}
	}
}

.object-item__bazmek {
	width: 78px;
	height: 130px;
	background: transparent url("./images/item-present--bazmek.png") no-repeat 0 0;
	background-size: contain;
	position: absolute;
	left: 50%;
	bottom: -112px;
	translate: calc(-50% + 62px) 0;

	@media (min-width: $bp-md) {
		left: auto;
		right: 10px;
		translate: 0;
	}
}

@keyframes signHovering {
	0%, 100% {
		transform: translatey(-5px);
	}
	25% {
		transform: translatey(15px);
	}
	50% {
		transform: translatey(5px);
	}
	75% {
		transform: translatey(10px);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: .3;
	}
}
