@use "../../styles" as *;

.deloreans {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 2;

	@media (max-width: $bp-sm-max) {
		display: none;
	}
}

.delorean__holder {
	position: relative;
	width: 360px;
	height: 100vh;
}

.delorean__mask {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	clip: rect(0, auto, auto, 0);
}

.delorean__container {
	@media (max-width: $bp-md-max) {
		display: none;
	}

	@media (min-width: $bp-md) {
		//aspect-ratio: 60/97;
		--delorean-width: 130px;
		--delorean-height: 210px;

		position: fixed;
		left: ($gap * 1.5);
		top: 40%;
		width: var(--delorean-width);
		height: var(--delorean-height);
		translate: 0 -50%;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		scale: 1;
		rotate: 0deg;
		transition: scale 1000ms $easeOutBack, rotate 1500ms $easeOutExpo, top 1500ms ease-in-out;
		transform-origin: calc(var(--delorean-width) / 2) var(--delorean-height);
	}

	&.is-hovering {
		scale: 1.2;

		.delorean__car {
			animation: hovering 4s ease-in-out infinite both;
		}
	}

	&.is-going-back {
		rotate: 180deg;
	}

	&.is-time-travelling {
		.delorean__car {
			&:after {
				animation: timeCircuitsActive 2s linear infinite both;
				opacity: 1;
			}

			&:before {
				opacity: 1;
			}
		}
	}
}

.delorean__container--present {
	top: 5vh;

	&.started {
		top: 40%;
	}

	.delorean__car {
		background: transparent url("./images/delorean--present.png") no-repeat center center;
		background-size: contain;
	}
}

.delorean__container--past {
	.delorean__car {
		background: transparent url("./images/delorean--past.png") no-repeat center center;
		background-size: contain;
	}

	&.is-going-back {
		.delorean__shadow {
			translate: -52% -50%;
		}

		&.is-hovering {
			.delorean__shadow {
				opacity: 0;
			}
		}
	}

}

.delorean__container--history {
	&.is-hiding {
		top: 90%;
	}

	.delorean__car {
		background: transparent url("./images/delorean--history.png") no-repeat center center;
		background-size: contain;

	}

	&.is-going-back {
		.delorean__shadow {
			translate: -52% -50%;
		}
	}
}

// -- effects
.delorean__shadow,
.delorean__headlights,
.delorean__hover-conversion {
	position: absolute;
	left: 50%;
	top: 50%;
}

.delorean__shadow {
	aspect-ratio: 60/97;
	width: 160px;
	background: transparent url("./images/delorean--shadow.png") no-repeat center center;
	background-size: contain;
	translate: -48% -50%;
	transition: translate 1000ms ease-in-out, opacity 1000ms ease-in-out;
	opacity: 1;
	will-change: translate, opacity;
	z-index: -1;
}

.delorean__headlights {
	width: 185px;
	height: 175px;
	background: transparent url("./images/delorean--headlights.png") no-repeat 0 0;
	background-size: contain;
	position: absolute;
	left: 0;
	top: 0;
	translate: -29px 107%;
	z-index: 2;

	.is-hovering & {
		animation: hovering 4s ease-in-out infinite both;
		transform-origin: 93px 0;
	}
}

.delorean__hover-conversion {
	aspect-ratio: 60/97;
	width: 130px;
	background: transparent url("./images/delorean--hover-conversion.png") no-repeat center center;
	background-size: contain;
	translate: -50% -50%;
	transform: scaleX(.7);
	transition: transform 1000ms $easeOutExpo;
	z-index: -1;

	.is-hovering & {
		animation: hovering 4s ease-in-out infinite both;
		transform: scaleX(1);
	}
}

.delorean__car {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		opacity: 0;
		transition: opacity 400ms ease-in-out;
	}

	// -- time circuits ready
	&:after {
		aspect-ratio: 60/97;
		width: 130px;
		z-index: 1;
		left: 0;
		background: transparent url("./images/delorean--timecircuits-active.png") no-repeat center center;
		background-size: contain;
	}

	&:before {
		background: transparent url("./images/delorean--firetrail.png") repeat-x 0 0;
		background-size: contain;
		width: 120px;
		height: 120px;
		left: 25px;
		translate: 0 -88%; // It was an accident, I swear :)
		z-index: -1;
	}
}

@keyframes driving {
	0% {
		translate: 0 -50%;
	}
	30% {
		translate: -.05rem -50%;
		//scale: 1.001;
	}
	60% {
		translate: .05rem -50%;
		//scale: .999;
	}
	100% {
		translate: 0 -50%;
	}
}

@keyframes hovering {
	0% {
		scale: 1.0
	}
	20% {
		scale: 1.01;
	}
	40% {
		scale: 1.0;
	}
	60% {
		scale: 1.05;
	}
	100% {
		scale: 1.0;
	}
}

@keyframes timeCircuitsActive {
	0%,
	100% {
		opacity: 0;
	}
	31.98% {
		opacity: 1;
	}
	32% {
		opacity: 0;
	}
	32.8% {
		opacity: .5;
	}
	32.82% {
		opacity: 1;
	}
	34.98% {
		opacity: 1;
	}
	35% {
		opacity: 0;
	}
	35.7% {
		opacity: 0;
	}
	35.72% {
		opacity: 1;
	}
	36.98% {
		opacity: 1;
	}
	37% {
		opacity: 0;
	}
	37.6% {
		opacity: .5;
	}
	37.62% {
		opacity: 1;
	}
	67.98% {
		opacity: 1;
	}
	68% {
		opacity: 0;
	}
	68.4% {
		opacity: 0;
	}
	68.42% {
		opacity: 1;
	}
	95.98% {
		opacity: 1;
	}
	96% {
		opacity: 0;
	}
	96.7% {
		opacity: 0;
	}
	96.72% {
		opacity: 1;
	}
	98.98% {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
	99.6% {
		opacity: 0;
	}
	99.62% {
		opacity: 1;
	}
}

// -- NO JS
.no-js {
	.deloreans {
		display: none !important;
	}
}
